<html>
	<head>
		<title>忘记准考证号？- 帮你找回四六级考号</title>
	</head>
	<body text="333388" style="margin:80px">
		<META http-equiv="Content-Type" content="text/html;charset=utf-8">
		<center><img src = "http://img3.picbed.org/uploads/2014/01/find_your_cetid.png"><br/><br/><br/>
			<h1 > For 2013年6月</h1>
			<h2><a href="/static/files/find_your_cetid.zip">直接下载</a></h2>
			<h2><a href="http://vdisk.weibo.com/u/3358098834">微盘下载 (相对较快)</a></h2><br/><br/><br/>
            <h1 style="color:red;">注意！！本软件暂时失效，请勿浪费时间使用！！
                <br>--- 2013.9.10</h1>
        </center>
	</body>
</html>
