{% extends 'base.html' %}

{% block maincontent %}
<pre>
    <h4>  都是自己折腾的小项目。 :P </h4>
    <a href="http://wherebo.ga">real-time-stackoverflow</a> : 实时StackOverflow

    <a href="https://github.com/yakiang/Baidubaike">baidubaike</a> : 百度百科python API封装  

    <a href="https://github.com/yakiang/excel.vim">excel.vim</a> : 在vim里读取Excel文件数据的插件  

    <a href="/projects/url-qrcode">URL-QRCODE</a> : (Chrome插件) 扫描二维码轻松分享URL至手机  

    <a href="http://vrelations.sinaapp.com">Visual-relations</a> : 可视化展现和你微博互动频繁的好友关系，欢迎测试 \w/  

    <a href="http://weibo.com/RTKCN">@中文锐推客</a> : 把指定twitter段子实时发布到微博指定帐号。

    <a href="/projects/lz-round-gravatar">lz-round-gravatar</a> : 豆瓣小组中将楼主头像修饰为圆形以便辨认的chrome插件

    <a href="/blog/set-up-your-treehole">微信-人人树洞</a>, <a href="/blog/set-up-your-weibo-treehole">微信-微博树洞</a>

    <a href="https://github.com/yakiang/YoudaoFanyi.vim">YoudaoFanyi.vim</a> : 有道翻译的vim插件

    <a href="https://github.com/yakiang/weivim">WeiVim</a> : Vim中刷微博的插件

    <a href="/projects/find_your_cetid">find your cetid</a> : 找回你遗失的四六级准考证号


    2013年6月份至10月份中旬每周一篇帮<a href="http://geekfan.net"> 极客范</a> 翻译文章：<a href="http://www.geekfan.net/author/zhongyiqiang">全部文章</a>


    (to be added...)

</pre>
{% endblock %}
