<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"> 
        <title>URL-QRCODE - 二维码传URL</title>
        <style>
            body {
                margin:90px;
                background-color:#666666;
                color:white;
            }
            a {
                color:yellow;
            }
        </style>
    </head>
    <body>
        <div>
            <p>我发现经常要把电脑端某个URL分享到手机时都会很痛苦，有时得用私信什么的来传达。</p>
            <p>用过类似的插件，都有点不爽的地方。而微信官方的【摇一摇传图】不知从Chrome哪个版本开始就不能用了</p>
            <p>所以自己花20分钟写了个很简单的插件。<span style="text-decoration:line-through;">感谢<a href="http://www.liantu.com/pingtai/">联图</a>提供API。</span></p>
            <p>由于旧API有点小bug（比如遇到有多个 <strong>&amp; </strong>的网址），故现在改用<a href="https://github.com/jeromeetienne/jquery-qrcode">jquery-qrcode库</a></p>
            <p><a href="/static/files/url-qrcode.crx">右键下载</a> crx 文件并自己拖入Chrome插件页面安装。</p>
            <br>
            <p><a href="http://github.com/yakiang/url-qrcode" target="_blank">fork me on github</a></p>
            <br>
            <p>contact me: <code>yakiang7#gmail.com</code></p>
        </div>
    </body>
</html>
    
