<!DOCTYPE HTML>
<html>
    <head>
        <title>lz-round-gravatar</title>
        <style>
            body {
                margin-top:90px;
                margin-left:70px;
                background-color:#666666;
                color:white;
            }
            img {
                margin-left:120px;
            }
            a {
                color:yellow;
            }
        </style>
    </head>
    <body>
        <div>
            <p>lz-round-gravatar 是一个<a href="http://douban.com/group" target="_blank">豆瓣小组</a>的简单Chrome插件。</p>
            <p>它的目的是修饰楼主的头像为圆形, 这样即使刷评论到下方时也能轻易辨认出楼主。</p>
            <p>just like this:<br><br><br>
            <img src="http://img1.picbed.org/uploads/2014/01/lz-round-gravatar.png"></p>
            <br>
            <p>你可以直接<a href="/static/files/lz-round-gravatar.crx">下载</a> ，可能需要右键另存为。</p>
            <p>或者可以 <a href="http://github.com/yakiang/LZ-round-gravatar" target="_blank">fork me on github</a></p>
            <br>
            <p>contact me: <code>strak47#gmail.com</code></p>
        </div>
    </body>
</html>
    
