<!DOCTYPE HTML>
<html>
    <head>
        <title>lz-round-gravatar</title>
        <style>
            body {
                margin-top:90px;
                margin-left:70px;
                background-color:#666666;
                color:white;
            }
            img {
                margin-left:120px;
            }
            a {
                color:yellow;
            }
        </style>
    </head>
    <body>
        <div>
            <p>lz-round-gravatar is a simple Chrome extension for <a href="http://douban.com/group" target="_blank">douban-group</a>.</p>
            <p>It aims to round the topic-owner's (ie LZ) gravatar, so that others can easily recognize him/her when scrolling down the topic.</p>
            <p>just like this:<br><br><br>
            <img src="http://img1.picbed.org/uploads/2014/01/lz-round-gravatar.png"></p>
            <br>
            <p>You may download it right <a href="/static/files/lz-round-gravatar.crx">here</a> (right click and "save as") and give it a try,</p>
            <p>or just <a href="http://github.com/yakiang/LZ-round-gravatar" target="_blank">fork me on github</a></p>
            <br>
            <p>contact me: <code>strak47#gmail.com</code></p>
        </div>
    </body>
</html>
    
