<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='utf-8'>
        <title>yakiang's Résumé</title>
        <link rel='stylesheet' type='text/css' href='/static/css/resume.css'>
    </head>
    <body>
        <div id='info'> 
            <p>
                <span id='item'>姓名：钟益强</span><br>
                <span id='item'>邮箱：strak47#gmail.com</span><br>
                <span id='item'>学校：中山大学软件学院</span><br>
            </p>
            <h4 id='timestamp'>Last Update：2014-01-08</h4>
        </div>
        <div id='skill0'>
            <p>
                <span id='item'>Python :</span>
                <br><br>
                    <span id='detail'>- 有开发微信公众帐号、新浪微博应用、人人应用、Twitter应用的经验</span><br>
                    <span id='detail'>- 较熟悉 Tornado、flask、web.py,接触过django</span><br>
                    <span id='detail'>- 有使用 PyQt 开发 GUI 应用的经验</span><br>
            </p>
            <br><br>
            <p>
                <span id='item'>前端:</span>
                <br><br>
                    <span id='detail'>- 能手写 HTML、CSS, 熟悉原生javascript</span><br>
                    <span id='detail'>- 熟悉 DOM 操作、jQuery 框架、Canvas、AJAX</span><br>
            </p>
        </div>
        <div id='skill1'>
            <p>
                <span id='item'>后台:</span>
                <br><br>
                    <span id='detail'>- 熟悉 Linux 系统, 熟练使用 Vim</span><br><br>
                    <span id='detail'>- 使用过 Node.js + socket.io + express</span><br><br>
                    <span id='detail'>- 较熟悉 C/C++ , 有使用 Qt 开发 VC++ 的经验</span><br><br>
                    <span id='detail'>- 搭建过 Nginx, 并结合 uwsgi、supervisor 等</span><br><br>
                    <span id='detail'>- 有使用 MySQL、Mongodb、SQLite、CouchDB 的应用</span><br><br>
            </p>
        </div>
        <div id='other'>
            <p>
                <span id='item'>其他：</span>
                <br><br>
                    <span id='detail'>- 版本控制：&nbsp;&nbsp;&nbsp;Git &nbsp; SVN</span><br><br>
                    <span id='detail'>- 写作：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Markdown&nbsp;&nbsp;LaTeX&nbsp;&nbsp;reStructuredText</span><br><br>
                    <span id='detail'>- 英语：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;熟练读写&nbsp;&nbsp;&nbsp;<a href='' target='_blank'>翻译</a></span><br><br>
                    <span id='detail'>- 折腾：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全键盘操作&nbsp;&nbsp;较强学习能力</span><br><br>
                    <span id='detail'>- 足球：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;爱好 &nbsp; 特长</span>
            </p>
        </div>
        <div id='page'>
            <p>
                <span id='item'>个人页面：</span>
                <br><br>
                    <span id='detail'>- <a target='_blank' href='http://yakiang.com'>个人博客</a></span><br><br>
                    <span id='detail'>- <a target='_blank' href='/projects'>项目经历</a></span><br><br>
                    <span id='detail'>- <a target='_blank' href='https://github.com/yakiang'>Github</a></span><br><br>
                    <span id='detail'>- <a target='_blank' href='http://t.163.com/strak47'>网易技术微博</a></span><br><br>
                    <span id='detail'>- <a target='_blank' href='http://stackoverflow.com/users/2279483/yakiang'>StackOverflow</a></span><br><br>
            </p>
        </div>
    </body>
</html
