{% extends "article.html" %}
{% block article %}
<h1>微博版中文锐推客</h1>
<p>作为程序员哪能不翻墙，翻墙哪能不上推。偶然看到twitter上<a href="https://twitter.com/RTKcn">@RTKcn</a> （昵称是“中文锐推客”）这个帐号，觉得很不错，它会自动获取twitter上转发最多的中文推再转推到自己帐号，介绍页面在<a href="http://rtbot.laobubu.net">这里</a> 。<br />
然后它的推文质量确实挺高的，就不说那些不适宜在天朝出现的了，其他的大都很搞笑，而且目测微博上一些很火的段子原始出处也是twitter来的。然后我就曾想把它一些好的推文发到自己微博帐号上，于是曾经琢磨着写个Chrome插件，可以在twitter页面直接发到微博上去。暑假时钻研了许久，最后还是失败了。Sigh，插入自定义<code>css</code>和<code>js</code>到头部了但就是不按我要的方式来；<code>post</code>到一个页面里已有的隐藏<code>iframe</code>了（而且它本身发推的表单也是target到这个iframe）但就是post完要重定向。无奈作罢。。。<br />
等到前两天才想起可以做一个微博上的锐推客，把twitter那个的推文照搬过来就好了，反正vps在美国上推不成问题，<code>ping weibo</code>也不慢。想到就干，申请了微博帐号<a href="http://weibo.com/RTKCN">@中文锐推客</a> 后（lucky，没人叫这名字)，就去研究twitter开放平台文档了。<br />
<!--more-->
由于有过新浪微博，人人，网易微博等等的Oauth开发经验，本以为Twitter也不难搞定，太天真了。一进去看到那么多文档有点懵，又是<code>Oauth1</code>又是<code>Oauth1.1</code>又是<code>Steam Api</code>又是<code>REST Api</code>的，不知道区别和哪个是我要的。后来在REST首页看到我要的接口 <a href="https://dev.twitter.com/docs/api/1.1/get/statuses/user_timeline">get/statuses/user_timeline</a> ，我要的只是获取 @RTKcn 的推文而已，所以这一个接口就够了，其他的就不去看了。<br />
然后是申请应用，申请完是很折腾的一个钟。一开始我直接访问<code>https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=RTKcn</code>，215错误，看来要授权。然后研究怎么获取<code>Token</code>，后来发现在应用页面就可以直接获取了。然后自己写个Python脚本，还是访问上面这个页面，但是在<code>headers</code>里加入了token等信息。结果还是<code>400 Bad Request</code>，有点不知道怎么搞了。Google之，才发现<a href="https://dev.twitter.com/docs/twitter-libraries">Twitter</a> 上自己就推荐了很多SDK，而且Python类的SDK很多，于是接下来很长时间我在尝试各种sdk，都是先访问<code>Github</code>主页看<code>README</code>，感觉不过时再按它的教程来搞。先后安装并尝试了<code>python-twitter</code>,<code>tweepy</code>,<code>TwitterAPI</code>等几个SDK，但都有这样那样的问题，它们不是在授权时有问题，就是在<code>status_update</code>也就是发新推文时出错。最后一个尝试了<code>Twython</code>，同样发推有问题。那时好烦就去洗澡了，洗完继续搞时忘了在哪里看到Application有<code>只读</code>和<code>可写</code>的区别。我这才想起来自己应用上面写的<code>Read-only</code>是什么意思。它的只读决定了它只能<code>GET</code>，不能<code>POST</code>，大概就是这么个意思。所以发推会失败，但没关系。我只是要<code>GET</code>推文而已。<br />
<img alt="Read-only Application" src="http://img2.picbed.org/uploads/2014/01/readonly-application.png" /><br />
于是继续使用<code>Twython</code>这个sdk，<code>GET @RTKcn</code> 的推文果然成功了！至此<code>twitter</code>端基本搞定，剩下的只是分析下<code>json</code>获取推文内容了。  </p>
<p>至于微博那边就很简单了，自己已经写过好几个这种使用<code>未通过审核应用</code>发微博的机器人了 :P 。  </p>
<p>后来发现<code>twitter</code> 的<code>json</code>也没那么容易搞定，因为twitter的<code>RT</code>机制我一直搞不明白，更不清楚它返回的<code>json</code>内容都代表什么意思了-。- 还有图片<code>url</code>的获取，第一次正式在python中使用正则来匹配。试发一条时发现新浪返回<code>含有不合法Url</code>错误，调试后发现是<code>http://t.co/xxxx</code>这个，好像是twitter的短链接来着。于是又用正则匹配把这样的url都替换掉了，不过应有的链接还是有的。  </p>
<p>代码基本搞定，就让它每分钟在服务器运行一次就好了。之前有搞过<code>crontab</code>这个文件，大概了解怎么写吧。于是我就加上<br />
<code>* * * * * root python -B /path/to/the/project.py</code><br />
可是每分钟过去了什么都不发（@RTKcn 是有新推文的），当时实在很纳闷。因为自己运行<code>python RTKcn.py</code>明明是可以发的。折腾了好久，终于搜到<a href="http://163.fm/5CP2mqh">这个</a> 和<a href="http://163.fm/Py3yNf3">这篇</a>，里面都提到了一个问题：Python脚本里使用本地文件时必须使用绝对路径，shell 命令也是！<br />
当时就mlgb了，赶紧改。顺便把脚本<code>chmod +x</code>改成可执行的，<code>crontab</code>改成这样：<br />
<code>* * * * * root /path/to/the/project.py</code>   <br />
然后就好了！放到<a href="https://github.com/yakiang/weibo-RTKcn">github</a>后就收工了。<br />
大家可以关注一下这个微博，保证内容不会让你失望的 ：P<br />
<br>  </p>
<hr />
<p>13-10-12更新：<br />
才十几天，今天这个号就因为太多不和谐内容就给渣浪封了 T_T ，懒得去申诉了，唉。  </p>
{% endblock %}
