{% extends "article.html" %}
{% block article %}
<h1>Recent projects</h1>
<p>大三的确是很忙呀，每天好多课，课好难还好多作业。虽然我比起不少人已经算不错的了，而且打一开始就没打算做个乖乖上课的好学生（never were），而是打算利用课余时间多看书多学点新技术多做点项目。除了计网和web2.0其他不打算那么认真，而发现2.0其实好水。。<br />
所以经常上课走神了就会在想结合那些技术可以做些什么东西或应用，这直接导致了上完某些课我总能记下好多inspiring notes。 但不是每个idea都能付诸实践，更不是每个东西动手了就能完成。最近深有体会。。  </p>
<h3>md5</h3>
<p>先说说web安全课要求的md5的c++实现吧。之前只知道python下可以<code>hashlib.md5(str).hexdigest()</code>轻易实现，等要自己实现才发现过程好麻烦。看<a href="http://baike.baidu.com/view/7636.htm">百度百科</a>或维基也完全无头绪，网上很少有讲到细节的。
<!--more-->
一开始在室友说明下很快写了个实现，其实没什么难的，就是字符串操作而已。但结果一直不对，室友也是，估计是算法理解上还有哪里不一样吧。就这么过了几天室友才说有地方看漏了，有两处地方需要用上什么大小端规则，好麻烦 - - 改了一下果然对了。<br />
大概来说过程是这样的：（下面假设输入的字符串没那么长，也就是不超过56位）  </p>
<ol>
<li>将输入的字符串的每一位都按先转成ascii码再按ascii码转成8位二进制字符串，组成一串新的字符串，再在最后补0至448位。  </li>
<li>将输入的字符串的长度乘以8（也就是补0前二进制字符串的长度），将该数字转化为01字符串，并在前面补0至64位长度。  </li>
<li>将这串64位长度的01字符串拆为8个8位的子字符串，设编号为A-H，将它们重新按 <code>HGFEDCBA</code> 的顺序存储为新的64位01串。  </li>
<li>将新的64位01串补在那448位字符串后面，凑成一个512位的字符串。  </li>
<li>将这个512位的字符串拆为16个32位长度的字符串。将每个32位的01串又拆为4个8位长度的字符串，设位编号 <code>ABCD</code> 。将 <code>ABCD</code> 按 <code>DCBA</code> 的顺序重新组合成一个新01串，并将它转化为10进制数字。并保存起来，最终会获得16个十进制数字。  </li>
<li>这一步我也不懂原理，直接参考了<a href="http://blog.sina.com.cn/s/blog_534408920100as7f.html">这篇</a>的。就是有个<code>state</code>数组，保存了很奇怪的四个 <code>unsigned int</code> 数字，有一个<code>FGHI()</code>函数，每次都用上面获得的十进制数字和 <code>state</code> 数组的数字在<code>FGHI</code>中进行一番操作。  </li>
<li>将最终获得的state数组的四个大数字分别转化为8位长的16进制数字，假如是<code>abcdefgh</code>，将它们按ghefcdab的顺序存储。最终获得的32位长度的16进制字符串就是md5加密的结果了。  </li>
</ol>
<p>源代码可以在<a href="https://github.com/yakiang/some-collections/tree/master/other-cpp/md5">这里</a>看到。  </p>
<h3>space-is-key</h3>
<p>有一次发现iOS有一款游戏限免了，叫<a href="https://itunes.apple.com/app/id444050300">space-is-key</a>。下下来发现是玩过的，只不过之前玩的是<a href="http://armorgames.com/play/10912">网页版</a>。在把iOS版通关后（其实很喜欢这种类型的游戏）又去找了网页版，然后发现它是用flash实现，于是想把它用Canvas写一次。一个是好玩，一个是觉得不会很难（天真了）。Google后发现几乎没有这样做过的，这更坚定了我实现它的决心。<br />
于是有空了就开始规划：</p>
<ul>
<li>每一关有多少柱子以及柱子多高以及背景颜色前景颜色什么的，由一个json file定义。</li>
<li>方块的移动由setInterval()实现</li>
<li>方块的翻转由canvas的rotate()实现</li>
<li>判断方块是否撞柱；如果是则粉碎方块并重头开始</li>
</ul>
<p>所以一个看起来简单的小游戏细分开来是有好多内容而且一点也不容易的，我也是做下去才慢慢觉得的。<br />
第1步很简单。第2步实现前就先要决定好canvas某一点的坐标如何定位。花了挺久才让它run起来。然后方块的翻转总是实现不了，StackOverflow上关于<code>canvas rotate</code>问题很多，但一直不知道怎么apply到自己的代码里去。后来看了一篇国外博客才成功。但是虽然能翻转了，却发现自己的翻转180度好难看。。一点也不协调和连续，到达顶点也没有一个减速为0的过程（这一步确实一开始没考虑到，后来和flash版作比较才发现的）。然后这一点让我没什么信心或者说动力做下去了。想到在方块翻转的情况下去判断它是否撞柱了我就觉得痛苦。所以最终它暂时止步这里，demo<a href="http://yakiang.com/projects/js-toys/space-is-key">在这</a>，求鄙视。<br />
与此同时我发现了另一个人做了同一个东西，也是canvas版，它只是个<a href="http://jsrun.it/ladeng6666/gn0D">demo</a>，不是完整的游戏。但却比我的流畅协调和顺滑多了。同时也有<a href="http://bbs.9ria.com/thread-128498-1-1.html">源代码</a>，分析了下好像run的原理跟我就不一样了。或许这就是差距吧。。如果未来某天想继续实现，应该要借鉴他的代码了～ T_T  </p>
<h3>sing-the-pics</h3>
<p>很早前就想过将图片的数据提取出来再以声音方式播放出来。但之前遇到最大问题是怎么在浏览器单独播放音符，而不是借助于audio文件。google了很久发现有一些第三方js库可以实现，当我搜到<a href="https://github.com/automata/Audiolet">audiolet</a>这个库并发现了<a href="http://automata.cc/lab/hear-the-img">这个页面</a>时心都凉了-。- 因为作者用自己写的这个库已经实现了。这是最能打击我的情况之一了。然后发现这个库好难用，个人觉得文档不全，看不明白怎么用。以上种种我也就放弃了。<br />
后来看到了justjavac在segmentfault的<a href="http://blog.segmentfault.com/justjavac/1190000000313116">这篇文章</a>，禁不住又想试试从canvas图片里提取数据做点什么了。于是又想到这个玩意，于是这次在更耐心的google下找到了<a href="http://patorjk.com/blog/2012/07/22/tone-playing-experiment-with-html5s-web-audio-api/">这篇文章</a>，很简要的介绍了浏览器新 audio API 的用法，很快就实现了play音符的功能。于是基本问题解决了就开始做了。<br />
没有打算用什么牛逼的算法决定哪个数据映射到哪个高度的哪个音符。我和高中一个音乐方面有研究的同学详细聊之后才稍微有一点音符音高那些知识，彻底的音乐白痴啊= = 然后用一个很随意的数字运算方法将提取到的像素数据转化为 audio API 可接受的数字，然后就play了。<br />
结果不出意料，听到的声音毫无规律而且很难入耳-。- 想试试的童鞋移步<a href="http://yakiang.com/projects/js-toys/sing-the-pics/">这里</a>。代码在<a href="https://github.com/yakiang/some-collections/tree/master/js-toys/sing-the-pics">这儿</a>。  </p>
<h3>excel.vim</h3>
<p>最近对office的抵触又莫名加深了几分，看到<code>*.doc*</code>,<code>*.xls*</code>的文件格式名就不爽。以前会觉得libreoffice还是不能和微软office比的。后来看了对它们团队的专访才领悟，微软office不是标准，<code>odf</code>文件才是标准，一切文档多应该按这个标准来。而不是什么文档都是<code>.doc*</code>，所以libre不需要兼容微软。只要微软也支持odf格式并且所有人都使用odf，那世界才和谐。最讨厌那些群共享文件都用doc的了。尽管如此，对于文档我还是最支持pdf，这也是我会花几天时间去学LaTeX的原因。<br />
然后对于excel文件，有一天想到其实里面只是一行行的文字而已。把它依次显示在vim中也是有可能的。于是google下发现了几个可以<a href="http://www.python-excel.org">操作excel文件的python库</a>，最终选的是<a href="https://github.com/python-excel/xlrd">xlrd</a>。由于有使用python开发vim插件的经验所以这个excel.vim也很快写出来。<br />
值得一提的是在多重测试下（多个Linux distro + 两个版本Vim）发现一些问题。就是同样的excel文件在vim7.3和7.4会有不一样的反应。7.3一切excel格式都正常，而7.4对有些格式（比如<code>xlsx</code>）会直接忽略掉我的插件而按默认方式打开。在调试+搜索了很久都找不到原因下只能去StackOverflow<a href="http://stackoverflow.com/questions/19742394/file-format-issue-with-vim-7-4">提问</a>。SO上牛人就是多，一天就有人给出了解决方案。也让我涨了一些新姿势！<br />
当然了这个插件只能供简单浏览excel文件数据，没有更多复杂功能。遇到一行文字很长的会有格式问题，字体大小什么的也是硬伤。代码在<a href="https://github.com/yakiang/excel.vim">Github</a>。</p>
<h3>Tornado</h3>
<p>多亏web2.0课程，开始熟悉tornado，然后发现《<a href="http://shop.oreilly.com/product/0636920021292.do">Introduction to Tornado</a>》这本书很不错。很薄一本，但很清晰，例子也不错。不过个人觉得不适合刚接触python的人。<br />
然后同时宿舍一组参加了学院一个比赛，要做一个手机应用，我负责后台。就顺手用tornado搭了，结合了<code>pymongo</code>。发现Tornado的异步处理确实很能禁受住考验。这里要感谢下微软提供的免费azure帐号啦！<br />
曾经觉得vps是世界上最好的东西。等拥有了，才发现自己真正喜欢的是机械键盘。。。但我不会忘记自己真正想要的是一台可以尝试iOS开发的Mac的 T_T  </p>
<hr />
<p>想实现的东西还有很多，想学的技术更多。希望自己能抵抗住学业的束缚，乘风破浪吧！ -。-    </p>
{% endblock %}
