{% extends "article.html" %}
{% block article %}
<h1>在Vim中刷微博</h1>
<p>作为一个Vim圣徒，自然刷微博什么的都会想要在Vim中搞定。Emacs早就有了这种<a href="http://austinycn.github.io/weibo.emacs/">插件</a>，
但Vim没法比，图片本身就是一大硬伤。有Google过相关插件，发现Vim下大都是只有发布微博的功能，Timeline都没法看。<br />
于是我一直就想写一个功能全面点的插件，于是几个月前便有开始在看 <a href="http://learnvimscriptthehardway.stevelosh.com/">learn Vimscript the hard way</a>,
后来由于时间不多，都是断断续续看了一点点而已。（不过看了的那一点对于个性化自己的.vimrc文件足够了）<br />
于是最近又盘算着用Python来直接写插件。<a href="http://www.oschina.net/question/12_39383">这篇文章</a>能让人很好的入门,
不需要看它后面怎么解析html文件，只需要看个大致结构,知道怎么用python开始写就好了。<br />
然后还参考了<a href="https://github.com/vim-scripts/TwitVim">TwitVim</a>这个插件，在Vim中刷推用的。但我自己不知为何没安装成功= =  </p>
<!--more-->

<p>由于之前有接触过微博开发，所以授权和调用那些API都不是难点。比较难的是Vim的函数，以及python与vimscript的结合。
比如一开始怎么读取当前窗口中的文字内容都不知道，还先调用保存函数后用python的file操作函数去open再read() =。=<br />
然后还有很多类似问题，比如不知道怎么获取.vimrc中的一个参数的值；不知道怎么在python部分获取python部分以外的参数的值；
还有python中典型的字符串编码问题；还有python部分的缩进问题，不能用tab必须全部是空格，略坑。。。。好在所有问题都靠Google或者Stackoverflow解决鸟～  </p>
<p>然后就是coding了，差不多十天吧，每天花几个小时。一开始对于怎么授权我也很纠结。因为如果采用官方的python sdk的话意味着好像得把appkey 和appsecret都保存到插件代码中。
最后我放弃这种方法，一个原因是不安全，一个原因是我没找出怎么在插件中import 第三方模块的方法=。=<br />
又想到其实要用到的只是一个access_token而已，所以我就保存一个token就好了。于是有了现在这种授权方法：进入授权页并授权后，新页面里直接输入url，上面的code值就可以直接转换为token。
再让用户保存到.vimrc文件中，每次要用到再取出来就好了～这种方法我觉得还是不错的，但意味着我不能用sdk得自己去看微博api说明再自己调用api，还有我得搭个<a href="http://yakiang.sinaapp.com/code2token">简单网站</a>来由code换取token。<br />
所以这个过程我还复习了下怎么部署django :) 不过本来如果用sdk的话可以实现发布图片微博的，但由于自己看api，实在不懂图片格式该怎么转，看sdk源码也好像很麻烦，看不懂，遂放弃了图片微博这个功能。。。  </p>
<p>写这个插件还是蛮有收获的，对于Vimscript,Python,Vim-functions,django都更有感觉了～！<br />
怎么使用在<a href="http://yakiang.com/WeiVim">项目地址</a>都有写了，不过正如里面写的，bug估计还是有的。比如异常抛出机制。。实在懒得去解析各种APIError再返回给用户错误信息了。。。<br />
另外开发过程有这么个情况，有次因为某个原因觉得继续开发下去会好麻烦，一度想放弃，因为我深知这种东西，即使知道的人很多了，真正会用的人肯定几乎没有。
Vim不能看图片这一个硬伤就足够了。谁会愿意只看微博的文字，然后遇到想看的图片时再点击链接去浏览器看图片= = 所以我即使其他方面写的多完美，最后用户肯定是很少很少的。。<br />
这种想法让我纠结了好一会。这时候，查看未读消息、查看@到我的、给我的评论几个接口都还没写。但我最终还是决定继续写完。对自己的产品负责，追求完美…… 没人用就我自己用～   </p>
<p>用GVIM测试可行，再装逼地加上了github.page，这个项目算是基本结束了。接下来马上搞另外一个哈哈～<br />
有各种想法或疑问欢迎评论或发邮件给我～ :)  </p>
{% endblock %}
