body {
    padding:0;
    margin:0; 
}

div {
    width:100%; 
    height:600px;
    padding-top:100px;
}

#info {
    background-color:#348fd4;
    color:#f2f2f2;
    line-height:70px;
}

#skill0 {
    color:#06406c;
    background-color:#ffc19f;"
}

#skill1 {
    color:#f2f2f2;
    background-color:#000000;"
}

#project {
    color:#f2f2f2;
}

#other {
    background-color:#fff8c9;
    color:#06406c;
}

#page {
    background-color:#cc4037;
    color:#f2f2f2;
}

.item {
    font-size:40px;
    font-weight:bold;
    padding-left:200px;
}

.detail {
    font-size:30px;
    line-height:50px;
    padding-left:300px;
}

#page a{
    color:#ffffff;
}

.note {
    position:absolute;
    line-height: 40px;
    bottom:10px;
    right:20px;
}

.note a {  
    color: yellow;
}
