{% extends 'base.html' %}

{% block maincontent %}
<a href='http://about.me/yakiang' target='_blank'><h1>About.Me</h1></a>
<pre>

    Hi, I'm yakiang. &nbsp;<b>♂</b>

    Came to this world on the same day as Debian = =
    
    Majoring in SYSU Software Engineering now
    
    Favoring <b>Python Vim Linux Web</b>

    I wrote this blog from scratch, it's based on flask and sqlite3.
    You can find it on <a href='https://github.com/yakiang/flask-blog' target='_blank'>github</a>
    
    If you're interested please have a look at my <a href='/resumt'>Résumé</a>,
    I was looking for an internship ：）  
    
    <b>contact</b> : strak47#gmail.com

</pre>
{% endblock %}
